*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
}

header, footer{
    background-color: blueviolet;
    height: 10vh;
}

main{
    display: flex;
    flex-direction: row;
}

section{
    background-color: rgb(233, 141, 205);
    width: 60vw;
    height: 80vh;
}

nav{
    background-color: rgb(82, 228, 82);
    height: 80vh;
    width: 20vw;
}
